<a href="https://colab.research.google.com/github/2303A51621/2303A51621-batch-22/blob/main/12/09/25.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np
data = {
    'Name':['Ravi','Neha','kiran','Sita'],
    'Age':[25,np.nan,30,28],
    'Marks':[85,90,np.nan,92]
}
df= pd.DataFrame(data)
print("Original DataFrame:")
print(df)
print("\nCheck for missing values:")
print(df.isnull())

Original DataFrame:
    Name   Age  Marks
0   Ravi  25.0   85.0
1   Neha   NaN   90.0
2  kiran  30.0    NaN
3   Sita  28.0   92.0

Check for missing values:
    Name    Age  Marks
0  False  False  False
1  False   True  False
2  False  False   True
3  False  False  False

In [3]:
# Drop rows with misssing values
df_dropped=df.dropna()
print("After Dropping Rows with NaN:")
print(df_dropped)

After Dropping Rows with NaN:
   Name   Age  Marks
0  Ravi  25.0   85.0
3  Sita  28.0   92.0

In [5]:
# Filling misssing values with a constant
df_filled = df.fillna(0)
print ("Filled with 0:")
print(df_filled)

Filled with 0:
    Name   Age  Marks
0   Ravi  25.0   85.0
1   Neha   0.0   90.0
2  kiran  30.0    0.0
3   Sita  28.0   92.0

In [7]:
#Fill misising with mean of column
['Age']= df['Age'].fillna(df['Age'].mean())
df['Mdfarks']= df['Marks'].fillna(df['Marks'].mean())
print("\nFilled with mean:")
print(df)

Filled with mean:
    Name        Age  Marks
0   Ravi  25.000000   85.0
1   Neha  27.666667   90.0
2  kiran  30.000000   89.0
3   Sita  28.000000   92.0

In [9]:
data = {
    'iD':['1','2','3','4'],
    'Name':['Ravi','kushal','mani','sunny'],
    'Marks':['85','90','78','92']
}

df = pd.DataFrame(data)
print("Original Data Types:")
print(df.dtypes)

df['iD'] = pd.to_numeric(df['iD'])
df['Marks'] = pd.to_numeric(df['Marks'])

print("\nAfter Conversion:")
print(df.dtypes)

Original Data Types:
iD       object
Name     object
Marks    object
dtype: object

After Conversion:
iD        int64
Name     object
Marks     int64
dtype: object

In [ ]:
students=pd.DataFrame